.square {
    width: 60px;
    height: 60px;
    text-align: center;     
    vertical-align: middle;
    display: table-cell;
}

.hover-gray:hover {
    background-color: rgb(235, 235, 235);
}

.challengeimage {
    text-align: center;
}

.challengeimage > img {
    max-height: 500px;
}

.challengeimage > p {
    text-align: justify;
}

.usernamefeedback {
    width: 100%;
    display: none;
}

#health {
    color: #f00;
    display: inline-flex;
}

#health > i {
    margin: 0 5px;
}

@media (max-width: 600px) {
    .square {
        width: 40px;
        height: 40px;
    }
}


/*** SWIPER **************************************************/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        position: relative;
        height: 100%;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .section_container {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



/*** END SWIPER **************************************************/