{% extends "base.html" %} {% block main %}

<div class="container-xl py-4">
    <div class="row justify-content-center p-2">
        <div class="col-12 col-md-9">
            <div class="">
                <!--FILA-->
                <div class="row justify-content-center mt-5 mb-5 ">
                    <!-- CONTENEDOR-->
                    <div class="d-flex ms-2 ms-md-none justify-content-center ">
                        <!--COLUMNAS-->
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">C</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">H</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">A</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">L</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">L</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">E</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">N</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">G</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">E</p>
                        </div>
                        <div class="mx-1">
                            <p class="fs-3 square border border-3 border-dark">S</p>
                        </div>
                    </div>
                    <span class="mt-4 border-bottom border-2 border-dark col-md-12 col-11"></span>
                </div>
            </div>


            {% if nbPages > 1 %}

            {# Number of page around current page+1 #}
            {% set nearbyPagesLimit = 4 %}

            <div>
                <nav aria-label="Challenges navigation example">
                    <ul class="pagination justify-content-center">
                        {% if currentPage != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="index.php?action=listChallengers&page=1">First</a>
                        </li>
                        {% endif %}
                        {% for i in 1..nbPages %}
                        {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #} {% elseif
                            0>
                            (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                            {% else %}
                            <li {% if currentPage==loop.index %} class="page-item active" {% endif %}>
                                <a class="page-link" href="index.php?action=listChallengers&page={{ loop.index }}">{{ loop.index }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if currentPage != nbPages %}
                            <li class="page-item">
                                <a class="page-link" href="index.php?action=listChallengers&page={{ nbPages }}">Last</a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}


            <hr>
            <div class="row">
                <div class="row col-12 fw-bold">
                    <div class="col-6 col-md-5">
                        <span>Challenge</span>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <span>Category</span>
                    </div>
                    <div class="col-6 col-md-2">
                        <span>Difficulty</span>
                    </div>
                    <div class="col-3 d-none d-md-block">
                        <span>Date</span>
                    </div>
                </div>
                <div class="col-12 border border-2"></div>
                {% if wotd %}
                <a href="{{ BASE_URL }}dailygame" class="text-decoration-none p-3 wotd">
                    <div class="row col-12 text-dark">
                        <div class="col-5">
                            <span>{{ wotd.title }}</span>
                        </div>
                        <div class="col-2 d-none d-md-block">
                            <span>Word Of The Day</span>
                        </div>
                        <div class="col-2">
                            <span>
                                {% for i in 1..3 %}
                                {% set starClass = (wotd.difficulty >= i ? "bi bi-star-fill" : "bi bi-star") %}
                                <i class="{{ starClass }}"></i>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="col-3 d-none d-md-block">
                            <span class="timeago">{{ wotd.date }}</span>
                        </div>

                    </div>
                </a>
                {% else %}
                <a href="{{ BASE_URL }}dailygame" class="text-decoration-none p-3 wotd">
                    <div class="row col-12 text-dark">
                        <span class="fw-bold"><i class="bi bi-patch-question"></i> The word of the day hasn't been
                            discovered yet... Be the first one!</span>
                    </div>
                </a>
                {% endif %}
                {% for item in valid %}
                <a href="{{ BASE_URL }}game/{{ item.idchallenge }}" class="text-decoration-none p-3 hover-gray">
                    <div class="row col-12 text-dark">
                        <div class="col-6 col-md-5">
                            <span>{{ item.title }}</span>
                        </div>
                        <div class="col-2 d-none d-md-block">
                            <span>{{ item.name }}</span>
                        </div>
                        <div class="col-6 col-md-2">
                            <span>
                                {% for i in 1..3 %}
                                {% set starClass = (item.difficulty >= i ? "bi bi-star-fill" : "bi bi-star") %}
                                <i class="{{ starClass }}"></i>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="col-3 d-none d-md-block">
                            <span class="timeago">{{ item.date }}</span>
                        </div>

                    </div>
                </a>
                {% endfor %}
                <hr>
                {% if nbPages > 1 %}

            {# Number of page around current page+1 #}
            {% set nearbyPagesLimit = 4 %}

            <div>
                <nav aria-label="Challenges navigation example">
                    <ul class="pagination justify-content-center">
                        {% if currentPage != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="index.php?action=listChallengers&page=1">First</a>
                        </li>
                        {% endif %}
                        {% for i in 1..nbPages %}
                        {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #} {% elseif
                            0>
                            (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                            {% else %}
                            <li {% if currentPage==loop.index %} class="page-item active" {% endif %}>
                                <a class="page-link" href="index.php?action=listChallengers&page={{ loop.index }}">{{ loop.index }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if currentPage != nbPages %}
                            <li class="page-item">
                                <a class="page-link" href="index.php?action=listChallengers&page={{ nbPages }}">Last</a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}