{% extends "base.html" %}

{% block main %}
<div class="container-fluid">

    <!--FILA-->
    <div class="row d-flex justify-content-center my-4 ">
        <!-- CONTENEDOR-->
        <div class="d-flex justify-content-center ">
            <!--COLUMNAS-->
            <div class="me-3 ">
                <p class="fs-3 square border border-3 border-dark">R</p>
            </div>
            <div class="me-3 ">
                <p class="fs-3 square border border-3 border-dark">E</p>
            </div>
            <div class="me-3 ">
                <p class="fs-3 square border border-3 border-dark">G</p>
            </div>
            <div class="me-3 ">
                <p class="fs-3 square border border-3 border-dark">I</p>
            </div>
            <div class="me-3">
                <p class="fs-3 square border border-3 border-dark">S</p>
            </div>
            <div class="me-3">
                <p class="fs-3 square border border-3 border-dark">T</p>
            </div>
            <div class="me-3">
                <p class="fs-3 square border border-3 border-dark">E</p>
            </div>
            <div class="me-3">
                <p class="fs-3 square border border-3 border-dark">R</p>
            </div>

        </div>
        <span class="mt-4 border-bottom border-2 border-dark col-md-7 col-11"></span>
    </div>
</div>

<div class="row">
    <div class="col-6 me-3">
        <img class="img-fluid d-none d-md-block" src="static/vector-people.png">
    </div>
    <form class="row g-3 col-12 col-md-6 needs-validation" id="form" ACTION="" NAME="inserta" METHOD="POST"
        ENCTYPE="multipart/form-data">
        <div class="col-12 col-md-6">
            <label for="validationCustom01" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="nombre" placeholder="Juan" required>
            <div class="invalid-feedback">
                Please enter your name.
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="usuario">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" name="usuario"
                    aria-describedby="inputGroupPrepend" placeholder="Juanito123" required>
                <div class="invalid-feedback">
                    Please enter a user name.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="validationCustom05" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationCustom05" name="password" required>
            <div class="invalid-feedback">
                Passwords do not match.
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="validationCustom06" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="validationCustom06" name="repeat_password" required>
            <div class="invalid-feedback">
                Passwords do not match.
            </div>
        </div>
        <div class="col-12mr-1">
            <label for="validationCustom03" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="validationCustom03" name="mail" placeholder="Juan@algo.es"
                required>
            <div class="invalid-feedback">
                Enter a valid email address
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" name="condiciones" required>
                <label class="form-check-label" for="invalidCheck">
                    Accept the terms of use.
                </label>
                <div class="invalid-feedback">
                    You have not accepted the conditions.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" NAME="submit" type="submit">Register</button>
        </div>
    </form>
    <div>
        <!--                     <?php
            //CODIGO PHP ****************************************************************************************
                            foreach($errores as $error){
                                echo "<p class='text-danger'>".$error."</p>";
                            }
            //CODIGO PHP ****************************************************************************************
                        ?> -->
    </div>
</div>

{% endblock %}