{% extends "base.html" %}

{% block main %}
<div class="container-xl py-4">
    <div class="container-fluid">
        <!--FILA-->
        <div class="d-flex justify-content-center mt-5 mb-5 ">
            <!-- CONTENEDOR-->
            <div class="d-flex justify-content-center flex-wrap">
                <!--COLUMNAS-->
                <div class="d-flex mt-3">
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">R</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">O</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">V</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">R</p>
                    </div>
                </div>
                <div class="me-3 d-none d-sm-block mt-3">
                    <p class="fs-3 square border border-3 border-dark">-</p>
                </div>
                <div class="d-flex mt-3">
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">P</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">A</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">S</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">S</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">W</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">O</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">R</p>
                    </div>
                    <div class="me-3">
                        <p class="fs-3 square border border-3 border-dark">D</p>
                    </div>
                    
                </div>
                
            </div>
            <span class="mt-4 border-bottom border-2 border-dark"></span>
        </div>
    </div>
    <div class=" row d-flex justify-content-center mt-5 mb-5">
        <form method="POST" class="col-md-6 col-12">
            {% if errores %}
            <div class="text-center p-3 bg-danger text-white mb-2 rounded">
                {% for error in errores %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" placeholder="Email" class="form-control" name="email" required>
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center mt-5">
                <button type="submit" class="btn btn-dark d-inline"> recover password </button>
            </div>
        </form>
        
        
    </div>
</div>

{% endblock %}