{% extends "base.html" %} {% block main %}


<form class="row g-3 col-12 col-md-6 needs-validation" id="form" ACTION="" NAME="inserta" METHOD="POST"
            ENCTYPE="multipart/form-data">
            <div class="col-12 col-md-6">
                <label for="validationCustom01" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" name="nombre" placeholder="ej:Juan" required>
                <div class="invalid-feedback">
                    Porfavor intruzca su nombre.
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="validationCustomUsername" class="form-label">Username</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="usuario">@</span>
                    <input type="text" class="form-control" id="validationCustomUsername" name="usuario"
                        aria-describedby="inputGroupPrepend" placeholder="ej:Juanito123" required>
                    <div class="invalid-feedback">
                        Porfavor intruzca un nombre de usuario.
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary border border-secondary">
            LogIn
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </button>
</form>



{% endblock %}