{% extends "base.html" %} {% block script %}
<script>
    // Accedemos al botón
    var riddleInput = document.getElementById('riddleInput');
    var imageInput = document.getElementById('image');


    // evento para el input radio del "words"
    document.getElementById('riddleRadio').addEventListener('click', function(e) {
        imageInput.disabled = true;
        riddleInput.disabled = false;
        console.log('hola');
    });

    document.getElementById('imgRadio').addEventListener('click', function(e) {
        imageInput.disabled = false;
        riddleInput.disabled = true;
    });

    document.getElementById('wordsRadio').addEventListener('click', function(e) {
        imageInput.disabled = true;
        riddleInput.disabled = true;
    });
</script>
{% endblock %} {% block main %}

<style>
    .square {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    .hover-gray:hover {
        background-color: rgb(235, 235, 235);
    }
    
    @media (max-width: 600px) {
        .square {
            width: 40px;
            height: 40px;
        }
    }
    
    @media (max-width: 500px) {
        .square {
            width: 30px;
            height: 30px;
        }
    }
</style>
<div class="container-xl py-4">
    <div class="container">
        <!-- VALIDAR formulario para CHALLENGE BASICO - (PALABRA)-->
        <div class="row">
            <!--FILA-->
            <div class="row justify-content-center mt-5 mb-5 ">
                <!-- CONTENEDOR-->

                <div class="d-flex justify-content-center dflex d-lg-none">
                    <!--COLUMNAS-->
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">R</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">A</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">T</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <!--COLUMNAS-->
                    <!--  <div class="me-3 "><p class="fs-3 square border border-3 border-dark">E</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">D</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">I</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">T</p></div> -->
                </div>
                <div class="d-flex justify-content-center mt-3 d-none d-md-flex d-lg-none">
                    <!--COLUMNAS-->
                    <div class="ms-2 me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">H</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">A</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">L</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">L</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">N</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">G</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3 d-flex d-md-none">
                    <!--COLUMNAS-->
                    <div class="ms-2 me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">H</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">L</p>
                    </div>
                </div>

                <div class="d-flex justify-content-center d-lg-flex d-none">
                    <!--COLUMNAS-->
                    <!-- Este en caso de que sea create -->
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">R</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">A</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">T</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <!-- Esto solo en caso de que sea edit  -->
                    <!-- <div class="me-3 "><p class="fs-3 square border border-3 border-dark">E</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">D</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">I</p></div>
                    <div class="me-3 "><p class="fs-3 square border border-3 border-dark">T</p></div> -->

                    <div class="ms-2 me-3 ">
                        <p class="fs-3 square border border-3 border-dark">C</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">H</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">A</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">L</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">L</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">N</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">G</p>
                    </div>
                    <div class="me-3 ">
                        <p class="fs-3 square border border-3 border-dark">E</p>
                    </div>
                </div>
                <span class="border-bottom border-2 border-dark mt-5 "></span>
            </div>
        </div>

        <div class="row">
            <!-- IMAGEN-->
            <div class="col-5 d-flex m-auto justify-content-center">
                <img src="static/create.png" class="d-md-block d-none" width="400px" height="500px">
            </div>

            {% if errores %}
            <div class="text-center p-3 bg-danger text-white mb-2 rounded">
                {% for error in errores %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <!-- FORM -->
            <div class="col-12 col-md-7 d-flex justify-content-center mt-5 mb-5 fs-5 pt-5">
                <form class="row g-3 need-validation w-md-50 w-75" id="form" ACTION="" NAME="inserta" METHOD="POST" ENCTYPE="multipart/form-data">

                    <!-- INPUT TITLE -->
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input id="title" type="text" class="form-control border border-dark" name="title" pattern="^[a-zA-Z0-9\.\-,+ñ+ç?! ]{4,64}$" placeholder="insert here the challenge title" required>
                        <div class="valid-feedback">
                            may be okay
                        </div>
                    </div>
                    <!-- FIN - INPUT TITLE -->

                    <!-- INPUT SOLUTION -->
                    <div>
                        <label for="solution" class="form-label">Solution</label>
                        <input id="solution" type="text" class="form-control border border-dark" name="solution" pattern="^[a-zA-Z]{4,32}$" placeholder="insert here the challenge solution (one word)" required>
                        <div class="valid-feedback">
                            may be okay
                        </div>
                    </div>
                    <!-- FIN - INPUT SOLUTION -->
                    <!-- RadioButton-->
                    <div class="d-flex">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="categoria" id="riddleRadio" value="riddles">
                            <label class="form-check-label" for="inlineRadio1">Riddle</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="categoria" id="imgRadio" value="images">
                            <label class="form-check-label" for="inlineRadio2">Image</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="categoria" id="wordsRadio" value="words" checked>
                            <label class="form-check-label" for="inlineRadio2">Words</label>
                        </div>

                    </div>

                    <!-- FIN -RadioButton-->
                    <!-- En el caso de que sea el juego VEO VEO o Acertijo-->
                    <div>
                        <label for="helptext" class="form-label">Help text</label>
                        <textarea id="riddleInput" class="form-control border border-dark" name="helptext" pattern="^[a-zA-Z0-9\.\-,+ñ+ç?! ]{4,128}$" placeholder="insert here the challenge title" disabled></textarea>

                        <div class="valid-feedback">
                            may be okay
                        </div>
                    </div>
                    <!-- FIN - VEO VEO o Acertijo-->

                    <!-- En el UNICO -UNICO- caso de que sea el juego VEO VEO -->
                    <div>
                        <label for="image" class="form-label">Image</label>
                        <input id="image" type="file" class="form-control mt-2 border border-dark" name="image" placeholder="insert here the challenge image" disabled>
                    </div>
                    <!-- FIN - VEO VEO-->


                    <!-- INPUT NUMERO INTENTOS-->
                    <div>
                        <label for="  " class="form-label">Number of Atempts</label>
                        <input type="number" class="form-control border border-dark" style="max-width: 100px;" name="atempts" placeholder="attempts" max="11" required>
                        <div class="valid-feedback">
                            may be okay
                        </div>
                    </div>
                    <!-- FIN - INPUT NUMERO INTENTOS-->

                    <div class="d-flex justify-content-center mt-5">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-success ms-2">
                            Create
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                        </button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}