{% extends "base.html" %} {% block main %}
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 class=" py-3 ps-3">Alejandro</h1>
                    <h2 class=" py-3 ps-3">#752</h2>
                    <button type="button" class="btn btn-outline-success border border-success m-3">CREATE YOUR CHALLENGE</button>
                </div>
                <div class="col-6 text-end">
                    <img src="../static/logo.png" class="img-fluid py-3" width="400" height="500">
                </div>
                <nav class="col-12">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Challenges overcome</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Challenges non overcome</button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                  </div>
        
            </div>
        </div>
    </div>
    {% endblock %}