{% extends "base.html" %} {% block main %}

<div class="container">
    {% for mensaje in mensajes %} {{ mensaje }} {% endfor %}
    <div class="row">
        <!--FILA-->
        <div class="row d-flex justify-content-center mt-5 mb-5 ">
            <!-- CONTENEDOR-->
            <div class="d-flex justify-content-center ">
                <!--COLUMNAS-->
                <div class="me-3 ">
                    <p class="fs-3 square border border-3 border-dark">P</p>
                </div>
                <div class="me-3 ">
                    <p class="fs-3 square border border-3 border-dark">R</p>
                </div>
                <div class="me-3 ">
                    <p class="fs-3 square border border-3 border-dark">O</p>
                </div>
                <div class="me-3 ">
                    <p class="fs-3 square border border-3 border-dark">F</p>
                </div>
                <div class="me-3">
                    <p class="fs-3 square border border-3 border-dark">I</p>
                </div>
                <div class="me-3">
                    <p class="fs-3 square border border-3 border-dark">L</p>
                </div>
                <div class="me-3">
                    <p class="fs-3 square border border-3 border-dark">E</p>
                </div>
            </div>
            <span class="border-bottom border-2 border-dark mb-2 mt-5"></span>
        </div>
    </div>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-2">
                    <h1 class=" py-3 ps-3">{{ userdata.username }}</h1>
                    <h2 class=" py-3 ps-3">#--{{ miRanking }}--#</h2>
                    <button type="button" class="btn btn-outline-success border border-success m-3"
                        onClick="location.href='?action=create'">CREATE YOUR CHALLENGE</button>
                    <button type="button" class="btn btn-outline-success border border-success m-3"
                        onClick="location.href='?action=adminView'">AdminView</button>
                </div>
                <div class="col-4 d-none d-sm-block text-end">
                    <canvas id="chart"></canvas>

                </div>


            </div>
        </div>
    </div>
    <nav class="col-12 mt-2 mb-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button id="btn" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Challenges overcome</button>
            <button id="btn" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Challenges non
                overcome</button>
        </div>
    </nav>
    <div class="tab-content border border-ligth" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2>Challenge</h2>
                    <hr>
                    <div class="row">
                        <div class="row col-12 fw-bold border-bottom border-4">
                            <div class="col">
                                <span>Challenge</span>
                            </div>
                            <div class="col d-none d-md-block">
           <span>Category</span>
                            </div>
                            <div class="col-3 col-md-4 offset-3 offset-md-0">
                                <span>Difficulty</span>
                            </div>
                        </div>
                        {% for item in objectlist %}
                        <a href="#" class="text-decoration-none p-3 hover-gray">
                            <div class="row col-12 text-dark">
                                <div class="col">
                                    <span>{{ item.title }}</span>
                                </div>
                                <div class="col d-none d-md-block">
                                    <span>{{ item.name }}</span>
                                </div>
                                <div class="col">
                                    <span>
                                        {% for i in 1..5 %}
                                        {% set starClass = (item.difficulty >= i ? "bi bi-star-fill" : "bi bi-star") %}
                                        <i class="{{ starClass }}"></i>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2>Challenge</h2>
                    <hr>
                    <div class="row">

                        <div class="row col-12 fw-bold ">
                            <div class="col">

                                <span>Challenge</span>
                            </div>
                            <div class="col d-none d-md-block">
                                <span>Category</span>
                            </div>
                            <div class="col">
                                <span>Difficulty</span>
                            </div>
                        </div>
                        <div class="col-12 border border-2"></div>
                        {% for item in objectlists %}
                        <a href="#" class="text-decoration-none p-3 hover-gray">
                            <div class="row justify-content-left col-12 text-dark">
                                <div class="col">
                                    <span>{{ item.title }}</span>
                                </div>
                                <div class="col d-none d-md-block">
                                    <span>{{ item.name }}</span>
                                </div>
                                <div class="col">
                                    <span>
                                        {% for i in 1..5 %}
                                        {% set starClass = (item.difficulty >= i ? "bi bi-star-fill" : "bi bi-star") %}
                                        <i class="{{ starClass }}"></i>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // <block:setup:1>

    let data = {
        labels: ['Wins', 'Fails'],
        datasets: [{
            label: 'dataset',
            data: [],
            backgroundColor: ['green', 'red'],
        }]
    };
    // </block:setup>

    // <block:config:0>
    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'User Stats'
                }
            }
        },
    };

    let xhr = new XMLHttpRequest();
    xhr.open("GET", /* window.location.hostname + window.location.pathname + */ "?action=getStats", false);

    xhr.onreadystatechange = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
            respuesta = JSON.parse(xhr.responseText);
            data.datasets[0].data = [respuesta.wins, respuesta.fails];
        }
    }
    xhr.send();

    const myChart = new Chart(
        document.getElementById('chart'),
        config
    );
</script>
{% endblock %}